@import '@/styles/form-common.less'; 

.login-container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.login-header {
  height: 16%;
  display: flex;
  justify-content: center;
  padding: 5%;

  h1{
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
  }
}

.login-logo {
  font-size: 1.5rem;
  padding: 5%;
  text-align: center;

  img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  p {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 2%;
  }
}


.casual {
  text-align: center;

  a {
    color: #ffffff;
    font-size: 18px;
  }
}
.order-login {
  padding: 5%;

  p {
    display: block;
    /*设置为块级元素会独占一行形成上下居中的效果*/
    position: relative;
    /*定位横线（当横线的父元素）*/
    text-align: center;
    font-size: 14px;
    color: #cccccc;
  }

  ul {
    margin-left: 25%;
    margin-top: 5%;
    height: 40px;
  }

  ul li {
    width: 25%;
    float: left;
  }

  ul li a img {
    width: 35px;
    height: 35px;
  }
}

.order-login p:before,
.order-login p:after {
  content: '';
  position: absolute;
  /*定位背景横线的位置*/
  top: 50%;
  background: #cccccc;
  /*背景横线颜色*/
  width: 20%;
  /*单侧横线的长度*/
  height: 1px;
}
.order-login p:before {
  left: 10%;
  /*调整背景横线的左右距离*/
}
.order-login p:after {
  right: 10%;
}