.container {
    background: var(--common-background-color);
  }
  .organization {
    background-color: #fff;
    padding: 10px;
    line-height: 40px;
  }
  .logo {
    width: 40px;
    height: 40px;
    float: left;
  }
  .logoImg {
    border-radius: 50%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--common-background-color);
  }
  .orgName {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    line-height: 40px;
  }
  .title {
    background-color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
  }
  .desc {
    font-size: 14px;
    color: var(--common-desc-color);
    text-align: justify; 
    padding: 10px;
    background-color: #fff;
  }
  .count {
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    color: var(--common-desc-color);
  }
  .step {
    float: right;
  }
  .price {
    background-color: #fff;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    color: var(--common-warning-color);
  }
  .user {
    background-color: #fff;
    padding: 20px 10px;
    font-size: 16px;
    color: var(--common-desc-color);
    .tel {
      float: right;
    }
  }
  .buyContainer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    height: 60px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    line-height: 60px;
    border-top: 5px solid var(--common-background-color);
  }
  .preferentialPrice {
    font-size: 20px;
    color: var(--common-warning-color);
    font-weight: bold;
  }
  .originalPrice {
    font-size: 12px;
    color: #ccc;
    text-decoration: line-through;
    margin-left: 10px;
  }
  .buyButton {
    color: #fff;
    background-color: var(--adm-color-warning);
  }