@import '@/styles/form-common.less'; 

.register-container {
    height: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
  }

.register-header {
    text-align: center;
    padding: 5%;
    font-size: 20px;
}


.authorization {
    padding: 0 5%;
    font-size: 14px;

    input {
        width: 18px;
        height: 18px;
        position: absolute;
        margin-left: 6%;
    }
}


.protocol {
    color: #00cc99;
    text-decoration: underline;
}

.ml-5 {
    margin-left: 13%;
}

.go-login {
    padding: 5%;
    display: flex;
    justify-content: flex-end;
}


.tourism {
    display: flex;
    width: 100%;
    // padding: 0 auto;
    justify-content: center;
    img {
        box-sizing: border-box;
        padding:0 5%;
        // margin-top: 20%;
    }
}

.form-item{
    input{
        width: 100%;
    }
}